
.bdycolor
{
    background: url('light-veneer.png');
    font-family: Georgia, Times, serif;
 }
 

 /*
.topnav 
{
    position: relative;
    height: 120px;
    margin: 25px 30px;
    background-color: whitesmoke;
    border: #cccccc;
    border-bottom-style: outset;
}
 
.navmyname
{

    position: relative;
    height: 120px;
    width: 325px;
    margin: 0px 0px 0px 120px;
    background-color: #4aaaa5;
} 


.myname
{

    left: 35px;
    background-color: #4aaaa5;
    font-size: xx-large;
    color: white;
}

.navlinks
{
    position: absolute;
    top: 0px;
    left: 860px;
    padding: 12px;
    font-size: x-large;
    font-style: italic;
    color: #777777;
}

.pbox
{
    background-color: #ffffff;
    height: 750px;
    width: 600px;
    margin: 20px 10px 20px 30px;
    padding: 12px;
    border: solid;
    border-color: #dddddd;
}

.ptitle
{
    font-size: 40px;
    font-style: italic;
    color: #4aaaa5;
    margin: 20px;

}

.pimages1
{
    position: relative;
    width: 600px;
    height: 700px;
    margin: 5px 10px 15px 10px;
}

.pimagsrow1
{
    
}

.pimag1
{
    width: 40%;
    height: 35%;
    position: auto;
    padding: 3%;
}

.pimag2
{
    width: 40%;
    height: 55%;
    position: auto;
    padding: 3%;
}

.pimag3
{
    max-width: 80px;
    height: 80px;
    position: auto;
    padding: 15px;
}

.pimag4
{
    max-width: 80px;
    height: 80px;
    position: auto;
    padding: 15px;
}

.pimag5
{
    max-width: 80px;
    height: 80px;
    position: auto;
    padding: 15px;
}

.cbox
{
    background-color: whitesmoke;
    height: 270px;
    width: 450px;
    margin: 5px 10px 15px 10px;

}

.cwithme
{
    padding: 30px;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    color: #4aaaa5;
}

.clinks
{
    height: 150px;
    max-width: 450px;
    padding: 15px 20px;
}
 
.clinkg
{
    max-width: 100px;
    height: 100px;
    position: auto;
    padding: 15px;

}

.clinkl
{
    max-width: 100px;
    height: 100px;
    position: auto;
    padding: 15px;
}

.clinksovr
{
    max-width: 100px;
    height: 100px;
    position: auto;
    padding: 15px;
 
}

.bfoot
{
    background-color: #666666;
    height: 50px;
    margin: 25px;
    padding: 100px;
    text-align: center;
    font-style: italic;
    font-size: x-large;
    border: #cccccc; 
    border-top-style: inset;
}
 */